{% extends 'base.html.twig' %}

{% block title %}Créer nouveau commentaire{% endblock %}

{% block body %}
    <h1>Créer nouveau commentaire</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">Retour à la liste</a>
{% endblock %}
