{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				{% include "presentation/include-presentation/cil-story.html.twig" %}

				{% include "presentation/include-presentation/neighborhoods.html.twig" %}

				{% include "presentation/include-presentation/membership.html.twig" %}
			</div>
		</div>
	</div>

{% endblock %}
