{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h2 id="rejoindre" class="anchor-h2">Rejoindre le CIL</h2>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex accusantium alias maiores nobis excepturi beatae inventore velit itaque in blanditiis. Necessitatibus officia dicta sequi velit placeat soluta, blanditiis rem excepturi?Voluptate saepe autem explicabo pariatur blanditiis iure eum non beatae hic, natus, debitis voluptatibus quas? Quos et corrupti inventore suscipit. Ut cumque laborum odit ullam perferendis sint, assumenda pariatur dolore.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, repellendus officia repudiandae itaque voluptate architecto earum placeat aliquam soluta quae. Facere maxime porro non ex illum maiores sequi animi laudantium.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, repellendus officia repudiandae itaque voluptate architecto earum placeat aliquam soluta quae. Facere maxime porro non ex illum maiores sequi animi laudantium.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, repellendus officia repudiandae itaque voluptate architecto earum placeat aliquam soluta quae. Facere maxime porro non ex illum maiores sequi animi laudantium.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, repellendus officia repudiandae itaque voluptate architecto earum placeat aliquam soluta quae. Facere maxime porro non ex illum maiores sequi animi laudantium.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, repellendus officia repudiandae itaque voluptate architecto earum placeat aliquam soluta quae. Facere maxime porro non ex illum maiores sequi animi laudantium.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, repellendus officia repudiandae itaque voluptate architecto earum placeat aliquam soluta quae. Facere maxime porro non ex illum maiores sequi animi laudantium.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, repellendus officia repudiandae itaque voluptate architecto earum placeat aliquam soluta quae. Facere maxime porro non ex illum maiores sequi animi laudantium.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, repellendus officia repudiandae itaque voluptate architecto earum placeat aliquam soluta quae. Facere maxime porro non ex illum maiores sequi animi laudantium.</p>
			</div>
		</div>
	</div>

{% endblock %}
