{% extends 'base.html.twig' %}

{% block title %}Créer nouveau document{% endblock %}

{% block body %}
    <h1>Créer nouveau document</h1>

    {{ include('document_upload/_form.html.twig') }}

    <a href="{{ path('document_upload_index') }}">Retour à la liste</a>
{% endblock %}
