<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">

		<title>
			{% block title %}CIL SAINTE MUSSE - LA GINOUSE
			{% endblock %}
		</title>

		{# Import du theme bootswatch #}
		<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body>
		<header>
			<div id="up-page" class="header-banner">
				<div class="row justify-content-end header-bar">
					{% include "layouts/includes/header_bar.html.twig" %}
				</div>
				<h1 class="main-title">CIL SAINTE MUSSE - LA GINOUSE</h1>
			</div>
			<div class="clear"></div>
			{% include "layouts/includes/navbar.html.twig" %}
		</header>
		<div class="container content"> {% block body %}{% endblock %}
			<div class="btn-up-page"><a href="#up-page">{% include "svg_icons/arrow_up_icon.html.twig" %}</a></div>
		</div>

		<footer>{% include "layouts/includes/footer.html.twig" %}</footer>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<script>
			var CKEDITOR_BASEPATH = '/ckeditor/';
		</script>
	</body>
</html>
