{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau membre{% endblock %}

{% block body %}
    <h1>Créer un nouveau membre</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}">Retourner à la liste</a>
{% endblock %}
